/* Mark Theis's home site CSS file. */
/* Style */
.mt-all{background-color: #14171c; color: #ddffff; margin-left:auto;margin-right:auto}.mt-content{max-width:980px}
.mt-header{padding-top: 20px; padding-bottom: 20px; padding-left: 20px; margin-left:auto; margin-right:auto}.mt-header{max-width:1200px}
.mt-content{padding-left: 20px; margin-left:auto;margin-right:auto;}.mt-content{max-width:1200px}
.mt-footer{color: #345882; padding-top: 20px; padding-bottom: 20px; padding-left: 20px; margin-left:auto; margin-right:auto}.mt-header{max-width:1200px}
